html {
}

body {
    background-color: rgb(175,175,0);
    font-size: 50px;
}

p {
	margin: 0px;
	padding: 0.3em;
}

.hex {
	color: #000000;
}

.slider {
	width: 100%;
}

#content {
	height: 100%;
	width: 100%;
	display:block;
	padding: 0;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#content_text {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	text-align: center;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}